{% extends "paginas/base.html" %}

{% block conteudo%}
<div class='text'>
    <p>
  
    <h4 style="float:right; width: 96%">Cadastro:</h4>
    </p>
    <form action="." method="POST"> {% csrf_token %}
        <input type="number" name="medico_id" value="{{medico.id}}" hidden/>
        <div class="container">
            <div id="login-row">
                <div id="login-column" class="col-md-6">
                    <h4 class="col">
    
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" name="nome" id="nome" value="{{medico.nome}}"/>
                        </div>
                        <div class="form-group">
                            <label for="sobrenome">Sobrenome:</label>
                            <input type="text" name="sobrenome" id="sobrenome" value="{{medico.sobrenome}}"/>
                        </div>
                        <div class="form-group">
                            <label for="data_admissao">Data de Admissão:</label>
                            <input type="text" name="data_admissao" value="{{data}}" required>
                        </div>
                    
                    </h4>
                    <h4><input class="btn btn-secondary" type="submit" value=" Confirma Cadastro"></button></h4>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
